<div class="span12">
  <%= render 'common/user_nav' %>

  <table class="table">
    <thead>
      <tr>
        <td>Content</td>
        <td>Group name</td>
        <td>Last Update</td>
        <td>Action</td>
      </tr>
    </thead>
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><p><%= simple_format(post.content) %></p></td>
          <td><%= render_group_title(post.group) %></td>
          <td><%= render_post_updated_at(post) %></td>
          <td>render_post_management_button_of_group(post.group, post)</td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
