<div class="span12">

  <div class="group">
    <%= link_to("Edit", edit_group_path(@group)) %>
  </div>

  <h2><%= @group.title %></h2>
  <p><%= @group.description %></p>

  <table class="table">
    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.content %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</div>
